.navbar-nav a {
	color:white;
	border-bottom: 3px transparent #343a40;
}
.navbar-nav a:hover{
	color: #38c6d9;
	border-bottom:3px solid #38c6d9;
	transition:0.5s;
}
.login-reg{
	margin-left:450px;
}
@media only screen and (min-width:500px) and (max-width:900px){
	.login-reg{
		margin:0px;
	}
}